<!--<form action="/users" method="post" accept-charset="utf-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">E-Mail:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="email">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>-->

<!--
<%= form_tag('/users') do %>
  <%= label_tag 'username' %>
  <%= text_field_tag 'username' %>
  <%= label_tag 'password' %>
  <%= password_field_tag 'password' %>
  <%= label_tag 'email' %>
  <%= email_field_tag 'email' %>
  <%= submit_tag("") %>
<% end %>-->

<%= form_with model: @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :email %><br>
  <%= f.email_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end%>